
.title{
  background-color: #4F4D3F ;
  color:#ffffff;
  min-height: 40px;

  .containers{
    padding: 0 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  h3{
    margin:0;
    padding-top: 5px;
  }
}
